
<body>
	<h2>Welcome to <span>remind(h)er </span>:</h2>

	<div class="smallDiv">
		<p>An app empowering healthy women!</p>
		<ol>
			<li>learn about recommended reproductive health examinations and services,</li>
			<li>find where the nearest OB/GYN is located, and </li>
			<li>record information about those services once scheduled or completed.</li>
		</ol>
	</div>
	<p class="context">Disclaimer: The creator of this app is not a medical professional; please consult your doctor for customized guidance relating to your reproductive health :) </p>
</body>

