<!DOCTYPE html>
<html>
<head>
	<title>remind(h)er</title>
	<meta charset="UTF-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  	<meta name="viewport" content="width=device-width,initial-scale=1 maximum-scale=1.0, user-scalable=0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<link href="https://fonts.googleapis.com/css?family=Josefin+Slab:700|Montserrat+Alternates:700|Quattrocento:700|Rufina:700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Antic" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Julius+Sans+One" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/main.css">

</head>
<body>
	<div class="container">
	<a class="h1" href="/">remind(h)er</a>
		<% include partials/alerts %> 
		<hr>
		<div claass="row">
			<div class="col-12">
				<% if(!currentUser) { %>
					<a href="/auth/login" class="btn btn-outline-secondary">Login</a>
					<a href="/auth/signup" class="btn btn-outline-secondary">Signup</a>
				<% } else { %>
					<a href="/myservices" class="btn btn-outline-secondary">Add a Service</a>
					<a href="/records" class="btn btn-outline-secondary">My Records</a>
					<a href="/find" class="btn btn-outline-secondary">Find OB/GYN</a>
					<a href="/auth/logout" class="btn btn-outline-secondary">Logout</a>
				<% } %>
			</div>
		</div>
		<%- body %>
	</div>
</body>
</html>


