<!DOCTYPE html>
<html>
<head>
	<title>remind(h)er</title>
	<meta charset="UTF-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  	<meta name="viewport" content="width=device-width,initial-scale=1 maximum-scale=1.0, user-scalable=0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<link href="https://fonts.googleapis.com/css?family=Josefin+Slab:700|Montserrat+Alternates:700|Quattrocento:700|Rufina:700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Antic" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Julius+Sans+One" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="/css/main.css">

</head>
<body>


<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a id="title" class="navbar-brand" href="#">remind(h)er</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  </div>
</nav> -->





	<div class="container">
	<h1>remind(h)er</h1>
		<% include partials/alerts %> 
		<hr>
		<div claass="row">
			<div class="col-12">
				<% if(!currentUser) { %>
					<a href="/auth/login" class="btn btn-outline-secondary">Login</a>
					<a href="/auth/signup" class="btn btn-outline-secondary">Signup</a>
				<% } else { %>
					<a href="/myservices" class="btn btn-outline-secondary">Add/Edit Services</a>
					<a href="/records" class="btn btn-outline-secondary">My Records</a>
					<a href="/find" class="btn btn-outline-secondary">Find OB/GYN</a>
					<a href="/auth/logout" class="btn btn-outline-secondary">Logout</a>
				<% } %>
			</div>
		</div>
		<%- body %>
	</div>


</body>
</html>


