body {
	background-image: url("../images/background.jpg");
	background-attachment: fixed;
}

.h1 {
	color: black;
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 4em;
	display: inline;
}

span {
	font-family: 'Montserrat Alternates', sans-serif;
	text-transform: lowercase;
	font-size: 1.5em;
}

h2 {
	color: black;
	font-family: 'Josefin Slab', serif;
	font-size: 2em;
	text-transform: uppercase;
	text-align: center;
	font-weight: bolder;
	padding-top: 20px;
}


h4, {
	font-family: 'Julius Sans One', sans-serif;
	/*color: #2F4F4F;*/
	color: black;
	font-size: 2em;
}

.docLoc {
	padding-left: 1%;
	font-family: 'Julius Sans One', sans-serif;
	font-size: 2em;
}

h5 {
	display: inline;
}

p {
	font-family: 'Rufina', serif;
	/*color: #2F4F4F;*/
	color: black;
	font-size: 1em;
}

a, .btn-link {
	font-family: 'Rufina', serif;
	color: #26466D;
}

label {
	font-family: 'Josefin Slab', serif;
	font-size: 1em;
	text-transform: uppercase;
	/*color: #2F4F4F;*/
	color: black;
	font-weight: bolder;

}

input, .description {
	font-family: 'Julius Sans One', sans-serif;
	font-weight: bolder;
	text-align: center;
}

li {
	font-family: 'Julius Sans One', sans-serif;
	font-size: 20px;
	font-weight: bold;
}

.trashcan {
	float: right;
	margin-right: 10px;
	
}

button {
	font-family: 'Josefin Slab', serif;
	margin-bottom: 20px;
	padding: 10px;

}

btn-primary {
	background-color: #8B475D;
}

@media screen and (min-width: 601px) {
  .docLoc {
    font-size: 30px;
  }
  p {
  	font-size: 20px;
  }
}

@media screen and (max-width: 600px) {
body {
	background-image: url("../images/backgroundSmall.jpg");
	}
.docLoc {
    font-size: 16px;
  }
  p {
  	font-size: 12px;
  }
  h1 {
  	font-size: 3em;
  }
  h2 {
  	font-size: 1.5em;
  }
}


.historySection {
	position: relative;
}

.smallDiv, .serviceSection {
	background:rgba(255,255,255, 0.5);
	border-radius: 10px;
	margin-top: 20px;
	padding:20px;
}

.serviceName {
	font-size: 1.3em;
	font-family: 'Julius Sans One', sans-serif;
	font-weight: bolder;
}

.indent {
	padding-left: 30px;
}

.context {
	font-family: 'Josefin Slab', serif;
	text-align: center;
	color: #2f4f4f;

}

#changeZip {
	display: center;
}

.alert {
	float:right;
	margin-top: 1%;
}

